<!DOCTYPE html>
<html>
<head>
    <title>Add Author</title>
</head>
<body>
    <h1>Add New Author</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST">
        <label>Name:</label>
        <input type="text" name="name" required><br>


        <label>Birth Date:</label>
        <input type="date" name="birth_date" required>

        <label>Date of Death:</label>
        <input type="date" name="date_of_death">

        <input type="submit" value="Add Author">

        <label>Nationality:</label>
        <input type="text" name="nationality">

    </form>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>